@import "./_basic/mixin";
@import "./_basic/etc";

/* BODY */
body{overflow:hidden;}
#wrap{width:100%; height:100%;}
.younmi{position:absolute; width:100px; height:120px; top:0; animation:youmi_work 90s infinite linear;
  .younmis{position:relative; width:100%; height:100%; @include BgImg('homi.gif');
           background-size:auto 100%; transition:all 200ms ease;}
}//younmi

/* HEADBOX */
#headBox{position:relative; width:500px; height:auto; margin:auto; z-index:1; padding-top:180px;
  h1{width:500px; height:330px; margin:auto; @include BgImg('homi_logo.png');}
  .gnb{width:200px; height:auto; margin:auto; margin-top:10px;
    ul{width:100%; height:100%;
    li{width:200px; margin-bottom:10px;
      &:nth-of-type(1){height:62px; @include BgImg('menu/menu_aboutMe.png');}
      &:nth-of-type(2){height:76px; @include BgImg('menu/menu_portfolio.png')}
      &:nth-of-type(3){height:58px; @include BgImg('menu/menu_gallery.png')}
      &:nth-of-type(4){height:58px; @include BgImg('menu/menu_what.png')}
    }
    button{display:block; width:100%; height:100%; cursor: pointer;}
  }}
}

/* POPUP&MENU */
// popup
#popUp{display:none; position:absolute; top:50px; left:0; right:0; bottom:0; margin:auto; z-index:2; 
  width:1000px; height:700px; padding:60px; box-sizing:border-box;
  background-color:rgba(255,255,255,0.95); @include BgImg('box.png');
  .btn_close{position:absolute; top:-40px; right:30px; width:40px; height:40px;
    @include BgImg('close_icon.png'); cursor:pointer;}

// aboutMe
  #aboutMe{position:relative; width:100%; height:100%; margin:auto; margin-top:35px;
    .about_cha{position:absolute; right:20px; width:200px; height:200px; @include BgImg('homi.gif')}
    .about_list{width:700px; height:500px; margin:15px auto;
      dt{font-size:15px; font-weight:bold; padding:0 10px;}
    .about_basic{width:100%; height:auto; font-size:16px; margin-left:10px; margin-bottom:20px;}
    .about_list{width:100%; height:auto; line-height:25px; font-size:15px;
      em{font-style:normal; font-weight:bold;}
      dt{width:80px; height:72px; float:left;}
      dd{width:620px;
      &:nth-of-type(3n){margin-bottom:10px;}}
    }
    .about_skill{font-size:15px; text-transform:capitalize;
      dt{width:80px;}
      dd{float:left; width:175px; height:40px; line-height:40px; margin-top:10px; margin-left:10px;
        &:nth-of-type(4n){width:100px;}
        &:nth-of-type(1){i{float:left; display:block; width:40px; height:40px; @include BgImg('icon/ai.png')}}
        &:nth-of-type(2){i{float:left; display:block; width:40px; height:40px; @include BgImg('icon/ps.png')}}
        &:nth-of-type(3){i{float:left; display:block; width:40px; height:40px; @include BgImg('icon/in.png')}}
        &:nth-of-type(4){i{float:left; display:block; width:40px; height:40px; @include BgImg('icon/html.png')}}
        &:nth-of-type(5){i{float:left; display:block; width:40px; height:40px; @include BgImg('icon/css.png')}}
        &:nth-of-type(6){i{float:left; display:block; width:40px; height:40px; @include BgImg('icon/jq.png')}}
        &:nth-of-type(7){i{float:left; display:block; width:40px; height:40px; @include BgImg('icon/git.png')}}
        &:nth-of-type(8){i{float:left; display:block; width:40px; height:40px; @include BgImg('icon/office.png')}}
        }
      }
    }
  }
// portfolio
  #portfolio{width:100%; height:100%; display:block; 
  .pf_menu{float:left; width:20%; height:100%; button{cursor:pointer; font-size:16px;}
    li{&:last-child{position:absolute; bottom:80px; width:150px; height:117px; @include BgImg('pdf_download.png');
        a{display:block; width:100%; height:100%;}}
  }}
    article{float:right; width:80%; height:100%; overflow-y:scroll;
      ul{width:200px; height:30px; margin:auto;
        li{float:left; width:100px; height:100%;
          button{display:block; width:100%; height:100%; font-size:16px; cursor:pointer;}}}
      .info_text{display:block; width:100%; margin:30px 0; text-align:center;
                 font-size:14px; line-height:25px;
        em{font-style:normal; font-size:15px; font-weight:bold; padding:0 10px;}
        p{font-size:10px;}} //info_text_common
      >div{>div{margin:auto; margin-top:20px; margin-bottom:10px;}}
                }//artcle_common
    .pf_uiux{
      .pf_wrap{width:100%; height:auto;}
      .hp_info_seoul{width:600px; height:auto; margin:auto;
      .hp_img{width:600px; height:1061px;
               @include BgImg('seoul_hp_img/seoul_botanic_main.jpg');}}
      .hp_info_sarang{display:none; width:600px; height:auto; margin:auto;}
              }//pf_uiux
    .pf_product{display:none;
      .product_bath{width:620px; height:auto;
      .bath_img{width:100%; height:870px;
        .bath_01{height:620px; height:715px; @include BgImg('product/linefriend(1).png'); margin-bottom:10px;}
        .bath_02{float:left; width:25%; height:155px; @include BgImg('product/linefriend(2).png');}
        .bath_03{float:left; width:25%; height:155px; @include BgImg('product/linefriend(3).png');}
        .bath_04{float:left; width:25%; height:155px; @include BgImg('product/linefriend(4).png');}
        .bath_05{float:left; width:25%; height:155px; @include BgImg('product/linefriend(5).png');}}
      }
      .product_kitchen{display:none; width:600px; height:auto;  margin:auto;
        .kitchen_img{width:100%; height:600px;
        .kitchen_01{height:600px; @include BgImg('product/kitchen(1).png');}
        .kitchen_02{float:left; width:25%; height:150px; @include BgImg('product/kitchen(2).png');}
        .kitchen_03{float:left; width:25%; height:150px; @include BgImg('product/kitchen(3).png');}
        .kitchen_04{float:left; width:25%; height:150px; @include BgImg('product/kitchen(4).png');}
        .kitchen_05{float:left; width:25%; height:150px; @include BgImg('product/kitchen(5).png');}
      }
      }
    }
    .pf_etc{display:none; text-align:center;}
  }

}